html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.avatar {
    width: 60%;
    height: auto;
}

.wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    border: solid 3px red;
}

.left {
    width: 40%;
    height: 100%;
    border: 1px solid #000000;
    text-align: center;

}

.right {
    h1 {text-align: center;}
    h2 {text-align: center;}
    width: 40%;
    border: 1px solid #1573aa;

}

.translateButton {
    float: right;
}

.experience {
    background-color: aqua;
    border: 1px solid black;
}