html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    font-family: "Arial";
    font-size: x-large;
    background-color: #000000;
}

.bodyCard{
    border-radius: 25px;
    background-color: white;
    width: 90%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    div {
        width: 90%;
    } 
    
}
@font-face {
    font-family: MinecraftItalic-R8Mo;
    src: url(/resources/minecraft-font/MinecraftItalic-R8Mo.otf) format('truetype');

}
.avatar {
    align-self: center;
    height: auto;
}

.menu {
    background-color: rgb(66, 101, 189);
    color: white;
    height:2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    a { 
        color: white;
        margin: 1%;
        text-decoration-line: none;
        text-size-adjust: auto;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    a:hover {
        font-size: 120%;
    }
}
.wrapper {
    display: flex;
    flex-direction: row;
    border: solid 3px red;
}

.left {
    img { 
        align-self: center;
        border: solid 1px red;
    }
    width: 40%;
    height: 100%;
    border: 1px solid #000000;
    /* text-align: center; */
}

.links{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a { 
        margin: 1%;
    }        
}

.right {
    h1 {text-align: center;}
    h2 {text-align: center;}
    width: 60%;
    border: 1px solid #1573aa;
    padding-left: 1%;
    padding-right: 1%;

}

.translateButton {
    float: right;
}

.experience {
    /*h1 {
        font-family: "MinecraftItalic-R8Mo";
    }*/
    border: 1px solid black;
}

.projectsDisplay{
    display: flex;
    flex-direction: row;
    
    .project{
        padding: 1%;
        margin: 2%;
        border: 1.5px solid rgb(172, 82, 9);
        border-radius: 25px;
    }
}

